*
{
  padding: 0 auto;
  margin: 0 auto;
}


.container
{
  width: 1400px;
  margin: 0 auto;
}
.logo
{
  float: left;
  padding-top: 20px;
}


nav {
  float: right;
  padding-top: 40px;
  margin-right: 100px;
}
.menu
{
  padding: 0;
  margin: 0;
  display: block;

}
.menu li
{
  width: auto;
  list-style: none;
  float: left;
  display: block;
  margin-right: 40px;
  font-size: 15px;
  position: relative;
}



.menu li a
{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monseratVAR;
  
}

.menu li a:hover
{
  opacity: 1;
  color: black;
  transition: all 0.2s ease-in-out;
}

.menu > ul li
{
  position: relative;
  
}

.menu li ul
{
  position: absolute;
  min-width: 100px;
  display: none;
  
}
.menu li:hover > ul
{
  display: block;
}



.sign
{
  width: 30px;
  height: 30px;
  float: right;
}

.slider-fon
{
  background: red;
  width: 100%;
  height: 500px;
}
.callback
{
  margin-left: 200px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  padding-bottom: 10px;
  font-family: monseratVAR;
  border-radius: 100px;
  background-color: #fff;
  padding: 13px 40px;
  transition: all 0.5s ease-in-out;
}

.callback:hover
{
  opacity: 1;
  color: red;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}

.sign
{
margin-left: 100px;
color: #fff;
text-decoration: none;
font-family: monseratVAR;
}


.sign:hover
{
  opacity: 1;
  color: red;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}

.catalog-main
{
  width: 100%;
  height: 100%;
  background: #1563F1;
}
.catalog-block
{
  width: 1400px;
  height: 100%;
  background: #1563F1;
}
.fitnes_block{
  display: flex;
  flex-wrap: wrap;
  margin: 0px 100px 0px 100px;
}
h4{
  width: 100%;
  margin-bottom: 20px;
}

article img{ 
  width: 90%;
}

.prst
{
  width: 100%;
  height: 100px;
  background: #0e42c1;
}
header
{
  background: #1563F1;
  height: 100px;
  width: 100%;
}


.container
{
  width: 1400px;
  margin: 0 auto;

}
.logo
{
  float: left;
  padding-top: 20px;
}


nav {
  float: right;
  padding-top: 40px;
  margin-right: 100px;
}
.menu
{
  padding: 0;
  margin: 0;
  display: block;

}
.menu li
{
  width: auto;
  list-style: none;
  float: left;
  display: block;
  margin-right: 40px;
  font-size: 15px;
  position: relative;
}



.menu li a
{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monseratVAR;
  
}

.menu li a:hover
{
  opacity: 1;
  color: black;
  transition: all 0.2s ease-in-out;
}

.menu > ul li
{
  position: relative;
  
}

.menu li ul
{
  position: absolute;
  min-width: 100px;
  display: none;
  
}
.menu li:hover > ul
{
  display: block;
}

.sign-block
{
  width: 40px;
  height: 40px;
}

.sign-block img
{
  width: 90%;
  height: 90%;
}
.sign
{
  width: 30px;
  height: 30px;
  float: right;
}

.slider-fon
{
  background: red;
  width: 1600px;
  height: 500px;
}
.callback
{
  margin-left: 100px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  padding-bottom: 10px;
  font-family: monseratVAR;
  border-radius: 100px;
  background-color: #fff;
  padding: 13px 40px;
  transition: all 0.5s ease-in-out;
}

.callback:hover
{
  opacity: 1;
  color: red;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}

.sign
{
margin-left: 100px;
color: #fff;
text-decoration: none;
font-family: monseratVAR;
}


.sign:hover
{
  opacity: 1;
  color: red;
  transition: all 0.2s ease-out;
  transform: scale(1.1);

}

.page
{
  
  padding:50px; 
  background: black;
  text-align: center;

}
.notice
{
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}



.notice-title
{
color: #fff;
}

.content
{
  background: #0e42c1;
  height: 50px;
  width: 100%;
  
}
.container
{
  width: 1400px;
  margin: 0 auto;
 
}


.nav1 {
  float: right;
  padding: 15px;
  margin-right: 200px;

}
.section
{
  padding: 0;
  margin: 0;
  display: block;


}
.section li
{
  float: left;
  display: block;
  margin-right: 40px;
  font-size: 15px;
}
.section li a
{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monseratVAR;
}

.section li a:hover
{
  opacity: 1;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.catalog-href
{
  text-decoration:none; 
}
.card
{
  width: 220px;
  height: 350px;
  background-color: #00adef;
  color: #fff;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  flex-wrap: wrap;
  margin: 40px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.card:hover
{
  background: #68c5ed;
  color: black;

}
.card-name
{
  font-size: 17px;
  margin-top: 25px; 
  text-decoration: none;
}

.card-price
{
  font-size: 15px;
  margin: 10px 0  10px;
  display: flex;
}

.card-curency
{
  font-size: 15px;
}

.card-btn
{
  border: none;
  cursor: pointer;
  background-color: #ef3249;
  padding: 12px 20px;
  width: 200px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 8px;
 
  
}

.card-btn:hover
{
  opacity: 1;
  transition: all 0.1s ease-out;
  transform: scale(1.01);
}

.catalog
{
  display: flex;
  width: 1200px;
  padding-top:50px; 
  display: flex;
  flex-wrap: wrap;
 
}

.catalog a
{
  text-decoration: none;
}
.catalog-name
{
  text-align: center;
  color: #fff;
  font-size: 35px;
  padding-top: 50px;
 font-family: monseratVAR;
}
.catalog-title{
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-top: 30px;
 font-family: monseratVAR;
}

.card-name
{
 display: block;
 font-size: 20px;
 font-family: ralewayB;
 color: #000; 
}

.brand-name
{
margin-top: 10px;
font-size: 15px;
font-family: monseratIT;
}
.card-price
{
  display:inline-flex;
  font-size: 18px;
  color:#fff;
}
.rub
{
  margin-left: 7px;
  font-size: 18px;

}

.block-prst
{
  display: flex;
}
footer
{
  width: 100%;
  height: 250px;
  background: #0e42c1;
}

.item-p
{
  padding-top: 40px;
  font-size: 20px;
  color: #fff;
  font-family: monseratVAR;
}

.footer-block
{
  width: 1200px;
  display: flex;
  float: left;
}

.footer-item
{
  display: flex;
  padding-right:400px;
}
.footer-item1
{
  display: flex;
}

.footer-item1 a
{
  text-decoration: none;
  color: #fff;
  
}
.footer-item1 span
{
  color: black;
}

.contanct-span
{
 color: black;
}
.contanct-span
{
 color: black;
}

.footer-list
{
  display:flex;
}
.footer-list li
{
margin-bottom: 20px;
list-style: none;

}

.footer-list li a
{
  text-decoration: none;
  color: #89a2f8;
  font-size: 18px;
  font-family: monseratVAR;
}

.name-footer
{
  font-size: 20px;
  font-family: monseratVAR;
  color: #fff;
}

.footer-number
{
  font-size: 22px;
  color: black;
}

.corpyright
{
  font-size: 15px;
  color: #89a2f8;
  text-align: center;
  padding-top: 230px;
}


@font-face
{
  
   src: url(../fonts/Montserrat-It.ttf);
   font-family: "monseratIT";
}

@font-face
{
  
   src: url(../fonts/Montserrat-Var.ttf);
   font-family: "monseratVAR";
}
@font-face
{
  
   src: url(../fonts/NotoSans-B.ttf);
   font-family: "notosansB";
}
@font-face
{
  
   src: url(../fonts/NotoSans-R.ttf);
   font-family: "notosansR";
}


@font-face
{
  
   src: url(../fonts/Raleway-B.ttf);
   font-family: "ralewayB";
}

@font-face
{
  
   src: url(../fonts/Raleway-R.ttf);
   font-family: "ralewayR";
}
