*
{
  padding: 0 auto;
  margin: 0 auto;
}


header
{
  background: #1563F1;
  height: 90px;
  width: 100%;
}
.container
{
  width: 1400px;
  margin: 0 auto;
}
.logo
{
  float: left;
  padding-top: 20px;
}


nav {
  float: right;
  padding-top: 40px;
  margin-right: 100px;
}
.menu
{
  padding: 0;
  margin: 0;
  display: block;

}
.menu li
{
  width: auto;
  list-style: none;
  float: left;
  display: block;
  margin-right: 40px;
  font-size: 15px;
  position: relative;
}



.menu li a
{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monseratVAR;
  
}

.menu li a:hover
{
  opacity: 1;
  color: black;
  transition: all 0.2s ease-in-out;
}

.menu > ul li
{
  position: relative;
  
}

.menu li ul
{
  position: absolute;
  min-width: 100px;
  display: none;
  
}
.menu li:hover > ul
{
  display: block;
}



.sign
{
  width: 30px;
  height: 30px;
  float: right;
}


.sign:hover
{
  opacity: 1;
  color: red;
  transition: all 0.2s ease-out;
  transform: scale(1.1);

}
.container
{
  width: 1400px;
  margin: 0 auto;
 
}

.callback
{
  margin-left: 200px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  padding-bottom: 10px;
  font-family: monseratVAR;
  border-radius: 100px;
  background-color: #fff;
  padding: 13px 40px;
  transition: all 0.5s ease-in-out;
}

.callback:hover
{
  opacity: 1;
  color: red;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}

.sign
{
margin-left: 100px;
color: #fff;
text-decoration: none;
font-family: monseratVAR;
}


.sign:hover
{
  opacity: 1;
  color: red;
  transition: all 0.2s ease-out;
  transform: scale(1.1);

}

.colazh
{
  width: 500px;
  height: 600px;
  padding-top: 50px;
}

.colazh img
{
  width: 80%;
  height: 80%;
}

.cont
{
  display: flex;
  width: 1400px;
}
h1
{
  font-size: 40px;
  margin-left: 50px;
  padding-top: 50px;
  text-transform: uppercase;
  font-family: monseratVAR;
}
.main-text-block
{
  width: 600px;
  height: 200px;
  padding-top: 200px;
}

.main-text
{
  font-size: 25px;
  font-family: monseratVAR;
}


.main-wrap
{
  width: 1400px;
}

.colazh2
{
  
  width: 600px;
  height: 300px;
  margin-left: 200px;
}

.colazh2 img
{
  height: 90%;
  width: 90%;
}

.main-text-block2
{
width: 450px;
height: 50px;
padding-top: 30px;

}

.words
{
  font-size: 30px;
  margin-bottom: 30px;
  font-family: monseratVAR;

}

.main-text2
{
font-size: 25px;
font-family: monseratVAR;
}

.block2
{
  display: flex;
  width: 1400px;
}

.block3
{
  display: flex;
  width: 100%;

}

.banner
{
  width: 1400px;
  height: 350px;

  text-align: center;
}
.banner-title
{
  font-size: 25px;
  text-transform: uppercase;
}

.block-banner
{
  display: flex;
  padding-top: 30px;
}
.block-ban
{
  
  width: 500px;
  height: 200px;
}

.block-ban-text
{
  font-size: 23px;
  padding-bottom: 15px;

}

.block-ban-text2
{
  font-size: 18px;
  font-family: monseratVAR;
}


footer
{
  width: 100%;
  height: 250px;
  background: #0e42c1;
}



.footer-block
{
  width: 1200px;
  display: flex;
  float: left;

}

.footer-item
{
  display: flex;
   padding-right:400px;
}

.footer-list
{
  display:block;


}
.footer-list li
{
margin-bottom: 20px;
list-style: none;

}

.footer-list li a
{
  text-decoration: none;
  color: #89a2f8;
  font-size: 18px;
  font-family: monseratVAR;
}

.name-footer
{
  font-size: 20px;
  font-family: monseratVAR;
  color: #fff;
}

.footer-number
{
  font-size: 22px;
  color: black;
}

.corpyright
{
  font-size: 15px;
  color: #89a2f8;
  text-align: center;
  padding-top: 230px;

}












@font-face
{
  
   src: url(../fonts/Montserrat-It.ttf);
   font-family: "monseratIT";
}

@font-face
{
  
   src: url(../fonts/Montserrat-Var.ttf);
   font-family: "monseratVAR";
}
